@import "bootstrap.css";

body {
	background-color: lightblue;
	background-image: url("http://en.opensuse.org/images/5/54/Wallpaper-idea-swirl.png"),linear-gradient(blue, white 25% , lightblue);
	background-size: cover;

}

.align-center{
  text-align: center;
  font-size: 1.2rem;
}
